@model HCH.Web.Models.ExaminationViewModel

@using System.Globalization
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex justify-content-center w-75">
    <div class="container-fluid">
        <h3>Детайли за преглед</h3>
        <h3>Преглед @Model.Id/@Model.ExaminationDate.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture)</h3>
        <hr class="hr-1" />

        <dl class="dl-horizontal mt-3">
            <dt>
                Дата на провеждане:
            </dt>
            <dd>
                @Model.ExaminationDate.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture)
            </dd>
            <dt>
                Терапевт:
            </dt>
            <dd>
                @Model.Therapist
            </dd>
            <dt>
                Пациент:
            </dt>
            <dd>
                @Model.Patient
            </dd>
            <dt>
                Цена на прегледа:
            </dt>
            <dd>
                @Model.Price  лв.
            </dd>
        </dl>
        @if (Model.TherapyId == null)
        {
            <p>Няма назначена терапия за този преглед.</p>
            
        }
        else
        {
            <div>
                @await Component.InvokeAsync("Therapy", new { id = Model.TherapyId })
            </div>
        }

        <hr />
        <h5 class="mb-1">Анамнеза:</h5>
        <textarea disabled class="textarea-100" rows="5">@Model.Anamnesis</textarea>
        <hr />
        <div class="mt-5">
            <a asp-area="" asp-controller="Examinations" asp-action="Index">Към списъка</a>
        </div>
    </div>
</div>