@model IEnumerable<HCH.Web.Models.ExaminationViewModel>

@using System.Globalization
@using X.PagedList.Mvc.Core;
@using X.PagedList;


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Пациент: @ViewData["PatientFullName"]</h3>
    <div class="">
        <h3>Извършени прегледи:</h3>
        <hr />
        <div class="container-fluid">
            <table class="table  mx-auto table-hover">
                <thead>
                    <tr class="row">
                        <th class="col-md-2">#</th>
                        <th class="col-md-2">Дата на прегледа</th>
                        <th class="col-md-4">Терапевт/Профил</th>
                        <th class="col-md-4"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="row">
                            <td class="col-md-2">@item.Id</td>
                            <td class="col-md-2">@item.ExaminationDate.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture)</td>
                            <td class="col-md-4">@item.Therapist/@item.Profile</td>
                            <td class="col-md-4">
                                <a asp-area="" asp-controller="Examinations" asp-action="Details" asp-route-id="@item.Id">Виж детайли за прегледа</a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>