@model IEnumerable<HCH.Web.Models.OrderViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="mt-3">
    <div class="container w-75 justify-content-center">
        <h2 class="text-center">Всички поръчки</h2>
        <div class="container-fluid">
            <hr class="hr-1" />
            <table class="table  mx-auto table-hover">
                <thead>
                    <tr class="row">
                        <th class="col-md-1 text-center">#</th>
                        <th class="col-md-2 text-center">Дата на поръчката</th>
                        <th class="col-md-2 text-center">Стойност в лева</th>
                        <th class="col-md-3 text-center">Номер/Дата на фактурата</th>
                        <th class="col-md-2 text-center">Клиент</th>
                        <th class="col-md-2 text-center">Детайли</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {

                        <tr class="row">
                            <th class="col-md-1 text-center">@item.Id</th>
                            <td class="col-md-2 text-center">@item.OrderDate</td>
                            <td class="col-md-2 text-center">@item.Price</td>
                            <td class="col-md-3 text-center">
                                @if (String.IsNullOrEmpty(item.DeliveryNoteDate))
                                {
                                    <a asp-area="Admin" asp-controller="DeliveryNotes" asp-action="Create" asp-route-id="@item.Id">Създай фактура</a>

                                }
                                else
                                {
                                    @item.DeliveryNoteId<text>/</text>@item.DeliveryNoteDate
                                    <a asp-area="" asp-controller="DeliveryNotes" asp-action="Details" asp-route-id="@item.Id"> | Детайли</a>
                                }
                            </td>
                            <td class="col-md-2 text-center">@item.ClientFullName</td>
                            <td class="col-md-2 text-center">
                                <a asp-area="" asp-controller="Orders" asp-action="Details" asp-route-id="@item.Id">Виж детайли</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>
