@model HCH.Web.Models.ExaminationViewModel

@using System.Globalization
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex justify-content-center w-75">
    <div class="container-fluid">        
        <h3>Преглед @Model.Id/@Model.ExaminationDate.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture)</h3>
        <h4 class="mt-3 mt-3 mb-0">Детайли за прегледа:</h4>
        <hr class="hr-1 mt-0" style="margin-top: 0px;"/>

        <dl class="dl-horizontal mt-3">
            <dt>
                Дата на провеждане:
            </dt>
            <dd>
                @Model.ExaminationDate.ToString("dd.MM.yyyy", CultureInfo.InvariantCulture)
            </dd>
            <dt>
                Терапевт:
            </dt>
            <dd>
                @Model.Therapist
            </dd>
            <dt>
                Пациент:
            </dt>
            <dd>
                @Model.Patient
            </dd>
            <dt>
                Цена на прегледа:
            </dt>
            <dd>
                @Model.Price лв.
            </dd>
        </dl>
        @if (Model.TherapyId == null)
        {
            <p>Няма назначена терапия при този преглед.</p>
            <a asp-area="Therapist" asp-controller="Therapies" asp-action="Create" asp-route-id="@Model.Id">Добави терапия</a>
        }
        else
        {
            <div>
                @await Component.InvokeAsync("Therapy", new { id = Model.TherapyId })
            </div>
            <a asp-area="Therapist" asp-controller="Therapies" asp-action="Edit" asp-route-id="@Model.TherapyId">Промени терапията</a>
        }

        <hr />
        <h5 class="mb-1">Анамнеза:</h5>
        <textarea disabled class="textarea-100" rows="5">@Model.Anamnesis</textarea>
        <hr />
        <div class="mt-5">
            <a asp-area="Therapist" asp-controller="Examinations" asp-action="Edit" asp-route-id="@Model.Id">Промени</a> |
            <a asp-area="Therapist" asp-controller="Examinations" asp-action="Index">Към списъка</a>
        </div>
    </div>
</div>