@model HCH.Models.Therapy

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Добави терапия</h3>
<h3>Профил @ViewData["ProfileName"]</h3>
<h3>Терапевт @ViewData["TherapistFullName"]</h3>
<h3>Пациент @ViewData["PatientFullName"]</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="" asp-controller="Therapies" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="TherapistId" value="@ViewData["TherapistId"]">
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="PatientId" value="@ViewData["PatientId"]">
            </div>
            <div class="form-group">
                <input type="submit" value="Създай терапия" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
