@model HCH.Web.Models.TreatmentViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Детайли за лечебно средство</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Профил
            </dt>
            <dd>
                @Model.Profile
            </dd>
            <dt>
                Наименование
            </dt>
            <dd>
                @Model.Name
            </dd>
            <dt>
                Описание
            </dt>
            <dd>
                @Model.Description
            </dd>
            <dt>
                Цена
            </dt>
            <dd>
                @Model.Price лв.
            </dd>
        </dl>
    </div>
    <div>
        <a asp-area="" asp-controller="Treatments" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-area="" asp-controller="Treatments" asp-action="Index_Therapist">Към списъка</a>
    </div>
</div>