@model IEnumerable<HCH.Web.Models.FoodSupplementViewModel>

@{
    ViewData["Title"] = "Index_Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="mt-3">
    <div class="container w-75 justify-content-center">
        <h1 class="text-center">Здраве от природата</h1>
        <h1 class="text-center">Хранителни добавки</h1>        
        <div class="container-fluid">
            <hr />
            <div><a asp-controller="FoodSupplements" asp-action="Create" class="btn harmony-bg-color">Добави</a></div>
            <hr />
            <table class="table  mx-auto table-hover">
                <thead>
                    <tr class="row">
                        <th class="col-md-1">#</th>
                        <th class="col-md-2">Наименование</th>
                        <th class="col-md-4">Описание</th>
                        <th class="col-md-1">Цена</th>
                        <th class="col-md-4"></th>
                    </tr>
                </thead>
                <tbody>
                    @{ int count = 0;}
                    @foreach (var item in Model)
                    {
                        count++;

                        <tr class="row">
                            <th class="col-md-1">@count</th>
                            <td class="col-md-2">
                                @item.Name

                            </td>
                            <td class="col-md-4">@item.Description</td>
                            <td class="col-md-1">@item.Price лв</td>
                            <td class="col-md-4 text-center">

                                <form class="form-inline" asp-area="Admin" asp-controller="FoodSupplements" asp-action="Delete" asp-route-id="@item.Id" method="get">

                                    <a asp-area="Admin" asp-controller="FoodSupplements" asp-action="Edit" asp-route-id="@item.Id" class="btn harmony-bg-color">Редактирай</a>

                                    <button type="submit" class="btn harmony-bg-color ml-2">Премахни</button>

                                </form>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <hr class="mb-0" />
    </div>
</main>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
